<!-- rolls.erb -->

<h2>Rolls</h2>

<ul>
  <% Rolls.all.each do |id, roll| %>
    <li>
      <a href="/rolls/<%= id %>"><%= roll %></a>
      <form class="button" method="post" action="/rolls/<%= id %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
